{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "useBuiltIns": "usage",
          "corejs": 3,
          "targets": ["last 1 Chrome version"]
        }
      }
    ]
  ]
}
